{% extends "layout.jinja2" %}
{% block title %}Dashboard{% endblock %}

{% block head %}
{{ super() }} 
{% endblock %}

{% block content %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{request.route_url('dashboard')}}">
    <strong>pSCT Alignment GUI</strong>
  </a>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{{request.route_url('logout')}}">
        <strong>Current User: {{request.user.username}}</strong>
      </a>
    </li>
  </ul>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="{{request.route_url('logout')}}">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 col-lg-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" id="myTab" role="tablist">
          <li class="nav-item">
          	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">
              <i class="fas fa-home"></i>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" id="primary-tab" data-toggle="tab" href="#primary">
              <i class="far fa-life-ring"></i>
              Primary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="secondary-tab" data-toggle="tab" href="#secondary">
              <i class="far fa-life-ring"></i>
              Secondary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="global-alignment-tab" data-toggle="tab" href="#global-alignment">
              <i class="fas fa-globe"></i>
              Global Alignment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pointing-tab" data-toggle="tab" href="#pointing">
              <i class="fas fa-location-arrow"></i>
              Telescope Pointing
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>	
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
      <div class="tab-container">
        <div class="row my-2" style='width: 100%; height: 100%'>
          <div class="col-sm-7">
            <div class="card my-2" style='width: 100%; height: 100%;'>
              <div class="card-header">
                <strong>Component Tree</strong>
                <a href="#" role="button" title="Toggle fullscreen" class='card-fullscreen-button float-right'><i class="fas fa-expand-arrows-alt"></i></a>
              </div>
              <div id="component-tree-container" class="card-body">
                <div id="component-tree"></div>
              </div>
            </div>  
          </div>
          <div class="col-sm-5">
            <div class="card my-1" style='width: 100%; height: 50%'>
              <div class="card-header">
                <strong>Info</strong>
                <a href="#" role="button" title="Toggle fullscreen" class='card-fullscreen-button float-right'><i class="fas fa-expand-arrows-alt"></i></a>
              </div>
              <div class="card-body">
                ...
              </div>
            </div>  
            <div class="card my-1" style='width: 100%; height: 50%'>
              <div class="card-header">
                <strong>Errors</strong>
                <a href="#" role="button" title="Toggle fullscreen" class='card-fullscreen-button float-right'><i class="fas fa-expand-arrows-alt"></i></a>
              </div>
              <div class="card-body" style='width: 100%; height: 50%'>
                <div id="errorlogcontainer" style='width: 100%; height: 100%'>
                  <table id="errorlogtable" class="table table-bordered" width="100%" height="100%"></table>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="row my-3" style='width: 100%; height: 50%'>
          <div class="col-sm-12">
            <div class="card my-1" style='width: 100%; height: 100%'>
              <div class="card-header">
                <strong>Logs</strong>
                <a href="#" role="button" title="Toggle fullscreen" class='card-fullscreen-button float-right'><i class="fas fa-expand-arrows-alt"></i></a>
              </div>
              <div class="card-body">
                ...
              </div>
            </div>  
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="tab-pane fade" id="primary">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Primary</h1>
      </div>
      <div class="tab-container">
        <div class="row">
          <div class="col-sm-9">
            <svg style='border: 1px solid black; width: 100%; height: 100%' preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50"></svg>     
          </div>
          <div class="col-sm-3">
            <div style='border: solid black 2px; width: 100%; height: 100%'>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="tab-pane fade" id="secondary" role="tabpanel" aria-labelledby="secondary-tab">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Secondary</h1>	     
      </div>
      <div class="tab-container">
        <div class="row">
          <div class="col-sm-9">
            <svg style='border: 1px solid black; width: 100%; height: 100%' preserveAspectRatio="xMidYMid meet" viewBox="0 0 50 50"></svg>     
          </div>
          <div class="col-sm-3">
            <div style='border: solid black 2px; width: 100%; height: 100%'>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="tab-pane fade" id="global-alignment">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Global Alignment</h1>	     
      </div>
      ...
    </main>
  </div>
  <div class="tab-pane fade" id="pointing">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Telescope Pointing</h1>	     
      </div>
      ...
    </main>
  </div>
</div>
<script type="text/javascript">
  console.log(window);
</script>
{% endblock %}
