*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
psct_gui/dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
node_modules/
.pytest_cache/
*.sqlite
npm_debug.log
